@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
    /* Primary */
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);

    /* Neutral */
    --DarkGrayishRed: hsl(0, 6%, 24%);

    /* Gradients */
    /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%) */
    /* - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}