@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /* Primary */
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);

  /* Neutral */
  --DarkGrayishRed: hsl(0, 6%, 24%);

  /* Gradients */
  /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%) */
  /* - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}

* {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  height: 76px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  width: 315px;
}
header img {
  height: 24px;
}
main .hero_desktop {
  display: none;
}
main .content {
  padding: 55px 30px;
  width: 315px;
}
main .content .logo {
  display: none;
}
main .content h1 span {
  color: var(--DesaturatedRed);
  font-weight: 300;
}
main .content h1 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}
main .content .description {
  text-align: center;
  color: var(--DesaturatedRed);
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 40px;
}
main .content input {
  width: 189px;
  border: 1px solid var(--DesaturatedRed);
  border-radius: 30px;
  padding: 18px 105px 18px 20px;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
}
main .content input::placeholder {
  color: var(--DesaturatedRed);
  opacity: 0.5;
}
main .content .arrow_icon {
  height: 50px;
  width: 70px;
  border-radius: 145px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 246px;
  margin-top: -51px;
  box-shadow: 0 12px 10px 3px hsla(0, 80%, 86%, 0.335);
  cursor: pointer;
}
main .content .arrow_icon:hover {
  filter: brightness(115%);
  box-shadow: 0 12px 10px 3px hsla(0, 80%, 86%, 0.856);
}
main .content .hide {
  display: none;
}
main .content .error_message img {
  position: absolute;
  height: 20px;
  margin-left: 218px;
  margin-top: -36px;
}
main .content .error_message p {
  position: absolute;
  color: var(--SoftRed);
  text-align: left;
  margin-left: 20px;
  font-size: 12px;
  margin-top: 10px;
}
.input_error {
  border: 1px solid var(--SoftRed) !important;
}
.attribution {
  margin-bottom: 10px;
}

@media (width: 1440px) {
  main .content {
    background-image: url("./images/bg-pattern-desktop.svg");
  }
}
@media (min-width: 1440px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  header {
    display: none;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
    align-items: center;
  }
  main .hero_mobile {
    display: none;
  }
  main .hero_desktop {
    display: initial;
    max-height: 100vh;
  }
  main .content {
    padding: 0;
    width: 50%;
    height: 100%;
    padding-right: 230px;
    padding-left: 165px;
  }
  main .content .logo {
    display: initial;
    margin-top: 60px;
    margin-bottom: 130px;
  }
  main .content h1 {
    font-size: 68px;
    letter-spacing: 12px;
    text-align: left;
  }
  main .content .description {
    text-align: left;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 50px;
  }
  main .content input {
    width: 275px;
    padding: 18px 140px 20px 18px;
    border-radius: 30px;
    font-size: 16px;
  }
  main .content .arrow_icon {
    height: 56px;
    width: 95px;
    margin-left: 342px;
    margin-top: -56px;
  }
  main .content .error_message img {
    height: initial;
    margin-left: 310px;
    margin-top: -41px;
  }
  main .content .error_message p {
    margin-left: 20px;
    font-size: 16px;
    margin-top: 10px;
  }
  .attribution {
    display: none;
  }
}
